h1{outline-style: dotted;outline-color:blue}
p{font-style: "lucida consolen", lucida, monospace; font-style: oblique; }
h1{text-shadow: 3px 1px white;}
img{border-radius: 150px}
body{px;color:yellow;text-shadow: 2px 2px white; border-style: solid;}
